{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {%if message%}
            {%if update%}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {%if not listing.isActive  and user == listing.price.user%}
    <div class="alert alert-success" role="alert">
        Congratulations! You won the auction!
    </div>

    {% endif %}

    <div class="row mx-2">
            {% if user.is_authenticated and listing.isActive%}
                    {%if isOwner%}
                        <form action="{%url 'closeAuction' id=listing.id%}" method="POST" class="mx-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Close Auction</button>
                        </form>
                    {% endif %}

                {% if isListingInWatchList %}
                    <form action="{%url 'removeWatchlist' id=listing.id%}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                    </form>
                {%else%}
                    <form action="{%url 'addWatchlist' id=listing.id%}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Add to Watchlist</button>
                    </form>
                {% endif %}
        {% endif %}
    </div>
    <h2>Listing: {{listing.title}}</h2>
    <img src= {{listing.photo}} alt="{{listing.title}}" height="300px">
    <p>{{listing.description}}</p>
    <p>Seller: {{listing.owner}}</p>
    <h4>${{listing.price.bid}}</h4>


     {% if user.is_authenticated%}
        <form action="{%url 'addBid' id=listing.id%}" method="POST">
            {% csrf_token %}
            <div class="form-group">

                <label for="price">Bid</label>
                <input type="number" min="0" name='newBid' placeholder="Add New Bid">
                <button type="submit" class="btn btn-primary">Bid</button>

            </div>

        </form>
    {% endif %}


    <h2>Comment</h2>

    <br/>
    {% if user.is_authenticated%}
        <form action="{%url 'addComment' id=listing.id%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="price">Add Comment</label>
                <input type"text" name ='newComment' placeholder="Add Commnet">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    {% endif %}
    <br/>
    <ul class="list-group">
        {%for comment in allComments%}
            <li class="list-group-item">
                <p>| Author: <strong>{{comment.author}}</strong> | Comment:</p>
                {{comment.message}}
                <br/>
            </li>
            {% endfor %}
    </ul>

{% endblock %}